html, body {
  background: #3a4454;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  font-family: monospace;
}

h1 {
  color: #c2b2b4;
  text-align: center;
  font-size: 36pt;
  margin-top: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  min-height: 400px;
}

#bottom, #top, #message, #stats {
  display: flex;
  align-items: center;
  justify-content: center;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#top {
  flex: 8; /* golden ratio */
  background: #53687e;
  color: #3a4454;
  font-size: 24px;
}

#message {
  flex: 1;
  color: #fff;
}

#bottom {
  flex: 0;
  display: flex;
  background: #6b4e71;
  color: #fff;
  font-size: 20px;
}

#bottom button {
  flex: 1;
}

#stats {
  flex: 1;
  color: #fff;
}

footer {
  margin: 50px 0 auto 0;
  text-align: center;
}

footer a {
  color: #f5dddd;
  text-decoration: none;
}

footer a:visited {
  color: #53687e;
  text-decoration: underline;
}
